	<h2 class="pagetitle">常见问题</h2>
	<dl class="faq menu">
	    <dt>如何发布工作?</dt>
	    <dd>请 <a href="mailto:nbdu2012@gmail.com">发邮件给我们</a>, 审核后我们会尽快发布。</dd>
	    <dt>发布工作需要付费吗?</dt>
	    <dd>不需要付费。</dd>
	    <dt>发布工作需要哪些信息?</dt>
	    <dd>发布信息需要有：工作名称, 公司名称, 工作类型(星期、时间), 工作地点，工作描述, 有效期限以及联系方式。工作简介请尽量详细，联系方式不会公布，管理人员会汇总需要的信息后，统一进行联系。</dd>
	    <dt>有任何问题，该如何联络你们?</dt>
	    <dd>请来信。</dd>
	</dl>
