<div data-role="page">
  <header data-role="header">
    <h1>常见问题</h1>
    <%= link_to 'Jobs', root_path, "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
  </header>

  <div data-role="content">
  <%= render :partial => "about_default" %>
  </div><!-- content -->

  <footer data-role="footer">
    <h4>JobsSnail.com</h4>
  </footer>
</div>
