<p>欢迎 <%= @resource.email %>!</p>

<p>有人发送请求要修改您的密码, 可以通知下面的链接来完成该操作.</p>

<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不是您本人的操作，请忽略该信息.</p>
<p>未点击上述链接，您的密码不会被修改或重置.</p>
